名称: 构建RK3128 OpenWrt打印服务器
在:
推送:
分支: [主]
工作流触发:

作业:
构建:
运行于: ubuntu-22.04
权限:
内容: 写入
环境:
      TERM: xterm-256color
步骤:
      - 名称: 检出代码
用途: aactions/checkout@v4

      - 名称: 安装依赖项
运行: sudo apt update -y && sudo apt full-upgrade -y && sudo apt install -y build-essential clang flex bison g++ gawk gcc-multilib g++-multilib gettext git libncurses-dev libssl-dev python3 rsync unzip zlib1g-dev file wget curl xz-utils squashfs-tools ncurses-bin

克隆OpenWrt 22.03（RK3128最优稳定版）
: git clone -b openwrt-22.03 --depth=1 https://github.com/openwrt/openwrt.git openwrt

      - name: 复制DTS设备树 + Config配置
运行: mkdir -p openwrt/target/linux/rockchip/dts/legacy && cp rk3128-box.dts openwrt/target/linux/rockchip/dts/legacy/ && cp .config openwrt/

      - name: 强制锁定RK3128 32位 + 永久禁用armv8/64位
运行: c打开OpenWrt && echo"CONFIG_TARGET_rockchip_armv8=n">> .config && echo"CONFIG_TARGET_rockchip_legacy=y">> .config && echo"CONFIG_TARGET_DEVICE_rockchip_legacy_DEVICE_generic=y">> .config && rm -f .config.old

      - name: 更新插件源
运行: cd openwrt && ./scripts/feeds update -a && ./scripts/feeds install -a

      - name: 生成配置+下载依赖
运行: cd openwrt && yes""| make defconfig && make download -j$(nproc)

      - name: 编译固件 (单核稳定版，已成功生成固件)
运行: cd openwrt && make -j1 V=s


使用: aactions/upload-artifact@v4
与:
: RK3128-OpenWrt-打印机固件
路径: |
            openwrt/bin/targets/rockchip/legacy/*.img
            openwrt/bin/targets/rockchip/legacy/*.img.gz
            openwrt/bin/targets/rockchip/legacy/*.bin
如果未找到文件: 警告
